---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <time class="post-date" datetime="{{ page.date }}">
        {% assign m = post.date | date: "%b" %}
        {% case m %}
          {% when 'April' %}Printemps
          {% when 'May'  %}Printemps
          {% when 'June' %}Printemps
          {% when 'July' %}Été
          {% when 'August' %}Été
          {% when 'September' %}Été
          {% when 'October' %}Automne
          {% when 'November' %}Automne
          {% when 'December' %}Automne
          {% when 'January'  %}Hiver
          {% when 'February' %}Hiver
          {% when 'March' %}Hiver
          {% else %}{{ post.date | date: "%b" }}.
          {% endcase %}
        {{ post.date | date: "%Y" }}
    </time>
  </header>

  <div class="post-content pretty-links">
    {{ content }}
  </div>

</article>
