---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <time class="post-date" datetime="{{ page.date }}">
        {% assign d = post.date | date: "%-d" %}
        {% assign m = post.date | date: "%B" %}
        {% case m %}
          {% when 'April' or 'May' or 'June' %}Printemps
          {% when 'July' or 'August' or 'September' %}Été
          {% when 'October' or 'Npvember' or 'December' %}Automne
          {% when 'January' or 'February' or 'March' %}Hiver
          {% else %}{{ post.date | date: "%b" }}.
          {% endcase %}
        {{ post.date | date: "%Y" }}
    </time>
  </header>

  <div class="post-content pretty-links">
    {{ content }}
  </div>

</article>
