---
layout: page
title: Articles
subtitle: Des choses que j'écris
desc: Des choses que j'écris
---
{% if paginator.page == 1 %}
  {% for post in site.posts limit: 2 %}
<link rel="prerender" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
  {% endfor %}
{% endif %}

<ul class="post-list">
  {% for post in paginator.posts %}
  <li class="post">
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
      <h4 class="post-title">{{ post.title }}</h4>
      <time class="post-date" datetime="{{ post.date }}">
          {% assign m = post.date | date: "%b" %}
        {% case m %}
          {% when 'April' %}Printemps
          {% when 'May'  %}Printemps
          {% when 'June' %}Printemps
          {% when 'July' %}Été
          {% when 'August' %}Été
          {% when 'September' %}Été
          {% when 'October' %}Automne
          {% when 'November' %}Automne
          {% when 'December' %}Automne
          {% when 'January'  %}Hiver
          {% when 'February' %}Hiver
          {% when 'March' %}Hiver
          {% else %}{{ post.date | date: "%b" }}.
          {% endcase %}
        {{ post.date | date: "%Y" }}
      </time>
      <p class="post-desc">{% if post.desc %}{{ post.desc }}{% else %}{{ post.excerpt }}{% endif %}</p>
    </a>
  </li>
  {% endfor %}
</ul>
<!-- post-list -->

<ol class="pager">
  {% if paginator.previous_page %}
  <li class="pager-prev">
    <a href="{{ paginator.previous_page_path }}">Previous</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="pager-next">
    <a href="{{ paginator.next_page_path }}">Next</a>
  </li>
  {% endif %}
</ol>
